*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: rgba(128, 128, 128, 0.479);
}

.nav-bar{
    padding-top: 10px;
    /* width: 100%; */
    /* height: 50px; */
    text-align: center;
    font-size: x-large;
    border-bottom: 2px double blue;
}

.nav-link-wrap{
    padding-top: 15px;
    padding-bottom: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    text-decoration: none;
    color: red;
}   

.nav-link{
    text-decoration: none;
    color: rgb(124, 1, 124);
    font-size: 25px;
}

.nav-link:hover{
    color: red;
    font-size: 27px;
}

.section-s{
    padding-top: 15px;
    text-align: center;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: larger;
}

.footer-bar{
    width: 100%;
    text-align: center;
    font-size: large;
    padding: 10px;
    border-top: 2px double blue;
}
